<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Terminator"
            id="swtterminator">
      </category>
      <view
            allowMultiple="true"
            category="swtterminator"
            class="swtterminator.views.TerminalHolderRestorable"
            icon="icons/terminator-16.png"
            id="swtterminator.views.TerminalHolderRestorable"
            name="Terminator"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="swtterminator.views.TerminalHolder"
            icon="icons/terminator-16.png"
            id="swtterminator.views.TerminalHolder"
            name="Terminator"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="swtterminator.views.SWTTerminator">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>


   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="swtterminal.toolbar">
            <command
                  commandId="swtterminator.commands.newTerminal"
                  icon="icons/terminator-16.png"
                  id="swtterminator.commands.newTerminal"
                  label="Terminal"
                  tooltip="Opens new Terminal">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="swtterminator.preferences.Preferences"
            id="swtterminator.preferences.Preferences"
            name="Terminator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="swtterminator.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="swtterminator.commands.newTerminal"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+t">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="swtterminator.commands.NewTerminal"
            id="swtterminator.commands.newTerminal"
            name="New Terminal">
      </command>
   </extension>

</plugin>
